<h2>订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>订购人-金额</th>
      <th>生成时间</th>

    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.billing_name, order_path(order.token)) %> - <%= order.total %></td>
      <td> <%= order.created_at.to_s(:long) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
